<div class="w-full h-full bg-slate-50">
  <div class="w-full h-full flex justify-center items-center py-10">
    <div class="w-3/4 max-w-[800px] flex flex-col">
      <div role="tablist" class="tabs tabs-lifted">
        <input type="radio" name="my_tabs_1" role="tab" class="tab checked:font-bold" aria-label="Create" checked="checked" />
        <div role="tabpanel" class="tab-content bg-base-100 rounded-lg p-10">
          <app-upload-content></app-upload-content>
        </div>
        <input type="radio" name="my_tabs_1" role="tab" class="tab checked:font-bold" aria-label="Import" />
        <div role="tabpanel" class="tab-content bg-base-100 rounded-lg p-10"></div>
      </div>
    </div>
  </div>
</div>
