<div class="dropdown dropdown-left">
  <div tabindex="0" role="button" class="btn btn-sm btn-square btn-outline"><app-svg-icons name="three_dots_vertical" size="15"></app-svg-icons></div>
  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded z-[1] w-52 p-1 shadow outline outline-1 gap-[0px]">
    <button class="btn btn-sm btn-outline border-none justify-start text-left" type="button" onclick="editModal.showModal()">Edit metadata</button>
    <app-publish-movie-option [movie]="movie"></app-publish-movie-option>
    <app-change-poster-option [movie]="movie"></app-change-poster-option>
  </ul>
</div>

@if (this.movieTitleEditForm) {
  <dialog #editModal id="editModal" class="modal modal-middle">
    <div class="modal-box">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-bold">Edit</h3>
        <form method="dialog">
          <button class="btn-sm btn-circle bg-black flex items-center justify-center">
            <app-svg-icons name="x" size="20" color="white"></app-svg-icons>
          </button>
        </form>
      </div>

      <form [formGroup]="movieTitleEditForm!" class="w-full h-full" (submit)="onSubmitNewMetadata()">
        <!-- Title Field -->
        <label for="title" class="form-control w-full">
          <div class="label py-0">
            <span class="label-text font-bold">Title</span>
          </div>
          <input formControlName="title" id="title" class="input input-bordered input-sm w-full p-2 rounded-md" [class]="{ 'input-error': isInvalid('title') }" type="text" placeholder="Title" />
          <div class="label py-0 mb-2">
            <span class="label-text-alt text-error">{{ getErrorMessage('title') }}</span>
          </div>
        </label>
        <div class="flex flex-row gap-2">
          <!-- Date Field -->
          <label for="originallyReleasedAt" class="form-control w-full"
            ><div class="label py-0">
              <span class="label-text font-bold">Original release</span>
            </div>
            <input
              formControlName="originallyReleasedAt"
              id="originallyReleasedAt"
              class="input input-bordered input-sm w-full p-2 rounded-md"
              [class]="{ 'input-error': isInvalid('originallyReleasedAt') }"
              type="date"
            />
            <div class="label py-0 mb-2">
              <span class="label-text-alt text-error">{{ getErrorMessage('originallyReleasedAt') }}</span>
            </div>
          </label>

          <!-- Duration Field -->
          <label for="runtimeMinutes" class="form-control w-full"
            ><div class="label py-0">
              <span class="label-text font-bold">Runtime in minutes</span>
            </div>
            <input
              formControlName="runtimeMinutes"
              id="runtimeMinutes"
              class="input input-bordered input-sm w-full p-2 rounded-md"
              [class]="{ 'input-error': isInvalid('runtimeMinutes') }"
              type="text"
              placeholder="Runtime"
            />
            <div class="label py-0 mb-2">
              <span class="label-text-alt text-error">{{ getErrorMessage('runtimeMinutes') }}</span>
            </div>
          </label>
        </div>

        <!-- Summary Field -->
        <label for="summary" class="form-control h-[200px]"
          ><div class="label py-0">
            <span class="label-text font-bold">Summary</span>
          </div>
          <textarea
            formControlName="summary"
            id="summary"
            class="textarea textarea-bordered textarea-xs w-full font-mono text-sm p-2 mb-2 rounded-md resize-none read-only:bg-neutral-900 flex-1"
            [class]="{ 'textarea-error': isInvalid('summary') }"
            placeholder="Summary..."
          ></textarea>
          <div class="label py-0 mb-2">
            <span class="label-text-alt text-error">{{ getErrorMessage('summary') }}</span>
          </div>
        </label>
        <div class="flex flex-row justify-between items-center p-0">
          <!-- Left Aligned Error Label -->
          <div class="flex flex-col p-0 m-0 text-error">
            @if (errorMessage !== '') {
              <span class="text-xs">{{ errorMessage }}</span>
            }
          </div>
          <!-- Submit Button -->
          <div class="flex flex-row justify-end gap-2">
            <button class="btn btn-square btn-outline w-fit px-4" type="button" [disabled]="!isFormValid()" (click)="this.resetEditedForm()">Reset</button>
            <button class="btn btn-square btn-primary btn-outline w-fit px-4" type="submit" [disabled]="!isFormValid()">SAVE</button>
          </div>
        </div>
      </form>
    </div>
  </dialog>
}
