<label class="form-control h-full">
  <div class="label py-0">
    <span class="label-text font-bold">{{ props.title }}</span>
    <!-- <span class="label-text-alt">Alt label</span> -->
  </div>
  <textarea class="textarea textarea-bordered textarea-xs h-full font-mono text-sm p-2 mb-2 rounded-md resize-none read-only:bg-neutral-900" [placeholder]="props.placeholder"></textarea>

  <!-- <div class="label"> -->
  <!-- <span class="label-text-alt">Your bio</span> -->
  <!-- <span class="label-text-alt">Alt label</span> -->
  <!-- </div> -->
</label>
