.slider {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(71, 85, 105);
  outline: none;
  position: relative;
  cursor: pointer;
  transform-origin: left center;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.slider::before {
  width: var(--thumb-position, 0%);
  border-radius: 6px;
}
.slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  z-index: 1;
}
