<div class="flex justify-center items-center">
  <div class="w-full h-full flex flex-col rounded-lg">
    <div class="flex flex-row h-full">
      <div class="flex flex-col items-center mr-6">
        <app-image-upload
          class="h-[300px] w-[200px]"
          title="Thumbnail Select"
          [props]="{ accept: imageAccept, maxSize: imageMaxSize, readonly: isMetadataFilled }"
          (filePassed)="recieveImageFile($event)"
        ></app-image-upload>
      </div>
      <div class="flex flex-col flex-auto">
        <app-input
          [props]="{ type: 'text', title: 'Enter video title or ID...', iconName: 'search', placeholder: 'Cars...', results: titles }"
          (searchEvent)="searchByTitle($event)"
          (optionSelected)="onOptionSelected($event)"
          (changedValue)="searchValueChange($event)"
        ></app-input>
        <app-input [props]="{ type: 'text', title: 'Title', placeholder: 'Title', value: title, readonly: true }"></app-input>
        <app-input [props]="{ type: 'text', title: 'Date', placeholder: 'Date', value: date, readonly: true }"></app-input>
        <app-input [props]="{ type: 'text', title: 'Duration', placeholder: '00:00:00', value: duration, readonly: true }"></app-input>
        <textarea class="textarea textarea-bordered font-mono text-sm block h-full max-h-[40%] p-2 mb-4 rounded-md resize-none read-only:bg-neutral-900" readonly [value]="selectedMetadataJson">
        </textarea>
      </div>
    </div>
    <div class="flex flex-row content-between place-content-between">
      <app-file-upload
        class="w-[200px]"
        title="Video Select"
        [props]="{ accept: videoAccept, maxSize: videoMaxSize, readonly: isMetadataFilled }"
        (filePassed)="recieveVideoFile($event)"
      ></app-file-upload>
      <button class="btn btn-square btn-primary btn-outline w-fit py-2 px-4" [disabled]="!checkIfReadyToUpload()" (click)="uploadFiles()" onclick="uploadModal.showModal()">UPLOAD</button>
    </div>
  </div>
</div>

<dialog #croppModal id="uploadModal" class="modal">
  <div class="modal-box w-[400px]">
    <div class="flex justify-center items-center mb-4">
      <h3 class="text-lg font-bold">Upload</h3>
    </div>
    <div class="flex-col justify-center items-center">
      <app-upload-status [props]="{ imageUploading: imageUploading, videoUploading: videoUploading }"></app-upload-status>
      <div class="flex justify-center p-2">
        <form method="dialog">
          <button class="btn btn-square btn-primary btn-outline w-fit py-2 px-4" [disabled]="closeButtonStatus()" (click)="finishUplaod()">Close</button>
        </form>
      </div>
    </div>
  </div>
</dialog>
