@if (isMobile) {
  <div class="card card-compact aspect-[4/1] flex-row bg-slate-950 rounded-md text-white">
    @if (!isLoading) {
      <div class="flex-none">
        <img [src]="video?.thumbnails?.default" [alt]="video?.title" class="object-cover h-full w-[19vw] rounded-s-md" />
      </div>
      <div class="flex-1 flex flex-col justify-between px-5 py-2">
        <h2 class="card-title">{{ video?.title }}</h2>
        <div class="flex justify-between">
          <h3>{{ publishedDate }}</h3>
          <h3>{{ formattedDuration }}</h3>
        </div>
      </div>
    } @else {
      <div class="skeleton aspect-[4/1] bg-slate-950 rounded-md"></div>
    }
  </div>
} @else {
  <div class="card card-compact aspect-[3/4] group relative rounded-md shadow-xl dark:shadow-gray-950 text-white">
    @if (!isLoading) {
      <img [src]="video?.thumbnails?.default" [alt]="video?.title" class="object-cover h-full w-full rounded-md" />
      <div class="card-body rounded-md bg-black-to-transparent absolute bottom-0 w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <h2 class="card-title">{{ video?.title }}</h2>
        <div class="flex justify-between">
          <h3>{{ publishedDate }}</h3>
          <h3>{{ formattedDuration }}</h3>
        </div>
      </div>
    } @else {
      <div class="skeleton aspect-[3/4] bg-slate-950 rounded-md"></div>
    }
  </div>
}
