<div class="search-container">
  <label for="searchBar" class="form-control w-full">
    <input
      id="searchBar"
      type="text"
      class="input input-bordered input-sm w-full p-2 rounded-md"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchTermChange()"
      placeholder="Search for a movie title..."
    />
    <ul *ngIf="searchTerm" class="results-dropdown">
      <li *ngFor="let result of results" class="result-item" (click)="selectMovie(result)">
        <img [src]="result.posterURL" alt="{{ result.metadata.name }} poster" class="movie-poster-thumbnail" />
        <div class="movie-info">
          <span class="movie-title">{{ result.metadata.name }}</span>
          <span class="movie-details">{{ result.type }} - {{ result.metadata.releaseDate }} - {{ result.providerID }}</span>
        </div>
      </li>
    </ul>
  </label>
</div>
