<div class="card card-compact aspect-[3/4] group relative rounded-md shadow-xl dark:shadow-gray-950 text-white" [style.cursor]="isReady() ? 'pointer' : 'default'" tabindex="0">
  <img [src]="this.movie.posterID" [alt]="this.movie.name" class="object-cover h-full w-full rounded-md" />
  <div class="card-body rounded-sm bg-black-to-transparent absolute bottom-0 w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">
    <h2 class="card-title">{{ this.movie.name }}</h2>
    <div class="flex justify-between">
      <h3>{{ publishedDate }}</h3>
      <!-- <h3>{{ formattedDuration }}</h3> -->
    </div>
  </div>
</div>
