<div class="flex justify-center items-center h-screen">
  <div class="w-1/2 h-[70%] flex flex-col outline outline-1 outline-offset-0 outline-gray-700 bg-transparent p-6 rounded-lg">
    <div class="flex flex-row h-full">
      <div class="flex flex-col items-center mr-6">
        <div class="w-44 h-72 bg-gray-700 rounded-lg flex items-center justify-center mb-4">
          <input type="file" accept="image/*" class="hidden" id="thumbnail-input" />
          <label for="thumbnail-input" class="w-full h-full input input-bordered hover:bg-gray-700 flex items-center justify-center py-2 px-4 rounded-md cursor-pointer"> Thumbnail Select </label>
        </div>
      </div>
      <div class="flex flex-col flex-auto">
        <app-input title="Enter video title or ID..." type="text" placeholder="Cars..." value="" iconName="search"></app-input>
        <app-input type="text" placeholder="Title" value="" [readonly]="true"></app-input>
        <app-input type="date" placeholder="Date" value="" [readonly]="true"></app-input>
        <app-input type="text" placeholder="00:00:00" value="" [readonly]="true"></app-input>
        <textarea class="textarea textarea-bordered block h-full max-h-[40%] p-2 mb-4 rounded-md resize-none" readonly> </textarea>
      </div>
    </div>
    <div class="flex flex-row content-between place-content-between">
      <input type="file" accept="image/*" class="input hidden" id="video-input" />
      <label for="video-input" class="w-44 text-center input input-bordered hover:bg-gray-700 py-2 px-4 rounded-md cursor-pointer"> Video Select </label>
      <app-button label="UPLOAD"></app-button>
    </div>
  </div>
</div>
