<div class="flex justify-center items-center h-screen">
  <div class="w-1/2 min-w-[500px] h-[70%] flex flex-col outline outline-1 outline-offset-0 outline-gray-700 bg-transparent p-6 rounded-lg">
    <div class="flex flex-row h-full">
      <div class="flex flex-col items-center mr-6">
        <app-image-upload class="w-60 h-80 aspect-3/2" title="Thumbnail Select" [accept]="mediaConfig.getImageFormats()" [readonly]="isMetadataFilled"></app-image-upload>
      </div>
      <div class="flex flex-col flex-auto">
        <app-input
          [props]="{ type: 'text', title: 'Enter video title or ID...', iconName: 'search', placeholder: 'Cars...', searchCharLimit: '3', results: titles }"
          (searchEvent)="searchByTitle($event)"
          (optionSelected)="onOptionSelected($event)"
        ></app-input>
        <app-input [props]="{ type: 'text', title: 'Title', placeholder: 'Title', value: title, readonly: true }"></app-input>
        <app-input [props]="{ type: 'text', title: 'Date', placeholder: 'Date', value: date, readonly: true }"></app-input>
        <app-input [props]="{ type: 'text', title: 'Duration', placeholder: '00:00:00', value: duration, readonly: true }"></app-input>
        <textarea class="textarea textarea-bordered font-mono text-sm block h-full max-h-[40%] p-2 mb-4 rounded-md resize-none read-only:bg-neutral-900" readonly [value]="selectedMetadataJson">
        </textarea>
      </div>
    </div>
    <div class="flex flex-row content-between place-content-between">
      <app-file-upload title="Video Select" [accept]="mediaConfig.getVideoFormats()" [maxSize]="mediaConfig.getMaxVideoSize()" [readonly]="isMetadataFilled"></app-file-upload>
      <app-button label="UPLOAD" [disabled]="true"></app-button>
    </div>
  </div>
</div>
