<div class="flex justify-center items-center h-screen">
  <div class="w-1/2 min-w-[500px] h-[70%] flex flex-col outline outline-1 outline-offset-0 outline-gray-700 bg-transparent p-6 rounded-lg">
    <div class="flex flex-row h-full">
      <div class="flex flex-col items-center mr-6">
        <app-image-upload class="h-[300px] w-[200px]" title="Thumbnail Select" [props]="imageProp" (filePassed)="recieveImageFile($event)"></app-image-upload>
      </div>
      <div class="flex flex-col flex-auto">
        <app-input [props]="searchProp" (searchEvent)="searchByTitle($event)" (optionSelected)="onOptionSelected($event)" (changedValue)="searchValueChange($event)"></app-input>
        <app-input [props]="titleProp"></app-input>
        <app-input [props]="dateProp"></app-input>
        <app-input [props]="durationProp"></app-input>
        <textarea class="textarea textarea-bordered font-mono text-sm block h-full max-h-[40%] p-2 mb-4 rounded-md resize-none read-only:bg-neutral-900" readonly [value]="selectedMetadataJson">
        </textarea>
      </div>
    </div>
    <div class="flex flex-row content-between place-content-between">
      <app-file-upload class="w-[200px]" title="Video Select" [props]="fileProp" (filePassed)="recieveVideoFile($event)"></app-file-upload>
      <button class="btn btn-square btn-primary btn-outline w-fit py-2 px-4" [disabled]="!checkIfReadyToUpload()" (click)="uploadFiles()" onclick="uploadModal.showModal()">UPLOAD</button>
    </div>
  </div>
</div>

<dialog #croppModal id="uploadModal" class="modal">
  <div class="modal-box w-[400px]">
    <div class="flex justify-center items-center mb-4">
      <h3 class="text-lg font-bold">Upload</h3>
    </div>
    <div class="flex-col justify-center items-center">
      <app-upload-status [props]="uploadStatusProp"></app-upload-status>
      <div class="flex justify-center p-2">
        <form method="dialog">
          <button class="btn btn-square btn-primary btn-outline w-fit py-2 px-4" [disabled]="closeButtonStatus()" (click)="finishUplaod()">Close</button>
        </form>
      </div>
    </div>
  </div>
</dialog>
