<label class="form-control">
  <div class="label py-0">
    <span class="label-text font-bold">{{ props.title }}</span>
    <!-- <span class="label-text-alt">Alt label</span> -->
  </div>
  <input
    class="input input-bordered input-sm block w-full p-2 mb-2 rounded-md read-only:bg-neutral-900"
    [type]="props.type"
    [accept]=""
    [placeholder]="props.placeholder"
    [value]="props.value"
    (input)="onInputChange($event)"
    [readOnly]="props.readonly"
    [attr.tabindex]="props.readonly ? -1 : null"
    [class.readonly-input]="props.readonly"
    [disabled]="props.disabled"
  />
  <!-- <div class="label"> -->
  <!-- <span class="label-text-alt">Your bio</span> -->
  <!-- <span class="label-text-alt">Alt label</span> -->
  <!-- </div> -->
</label>
