<form [formGroup]="titleCreationForm" (submit)="onSubmit()">
  <div class="h-full w-full justify-center items-center">
    <div class="h-full flex flex-col rounded-lg">
      <div class="h-full flex flex-row pb-2">
        <div class="flex flex-col h-full mr-6">
          <app-image-upload
            class="h-[300px] w-[200px]"
            title="Thumbnail Select"
            [props]="{ accept: imageAccept, maxSize: imageMaxSize, readonly: false }"
            (filePassed)="receiveImageFile($event)"
          ></app-image-upload>
        </div>
        <div class="flex flex-col flex-auto h-full">
          <div role="tablist" class="tabs tabs-lifted">
            <input type="radio" name="my_tabs_2" role="tab" class="tab tabs-xs" aria-label="Movie" checked="checked" />
            <div role="tabpanel" class="tab-content grid rounded-lg bg-base-100 border-[#101010] px-1">
              <!-- Searchbar field-->
              <app-search-bar [results]="titleNames" (movieSelected)="onTitleSelected($event)"></app-search-bar>
              <!-- Title Field -->
              <label for="title" class="form-control w-full">
                <div class="label py-0">
                  <span class="label-text font-bold">Title</span>
                </div>
                <input formControlName="title" id="title" class="input input-bordered input-sm w-full p-2 rounded-md" [class]="{ 'input-error': isInvalid('title') }" type="text" placeholder="Title" />
                <div class="label py-0 mb-2">
                  <span class="label-text-alt text-error">{{ getErrorMessage('title') }}</span>
                </div>
              </label>

              <!-- Summary Field -->
              <label for="summary" class="form-control h-full">
                <div class="label py-0">
                  <span class="label-text font-bold">Summary</span>
                </div>
                <textarea
                  formControlName="summary"
                  id="summary"
                  class="textarea textarea-bordered textarea-xs w-full font-mono text-sm p-2 mb-2 rounded-md resize-none read-only:bg-neutral-900 flex-1"
                  [class]="{ 'textarea-error': isInvalid('summary') }"
                  placeholder="Summary..."
                ></textarea>
                <div class="label py-0 mb-2">
                  <span class="label-text-alt text-error">{{ getErrorMessage('summary') }}</span>
                </div>
              </label>

              <!--              &lt;!&ndash; Date Field &ndash;&gt;-->
              <!--              <label for="originallyReleasedAt" class="form-control w-full">-->
              <!--                <div class="label py-0">-->
              <!--                  <span class="label-text font-bold">Original release</span>-->
              <!--                </div>-->
              <!--                <input-->
              <!--                  formControlName="originallyReleasedAt"-->
              <!--                  id="originallyReleasedAt"-->
              <!--                  class="input input-bordered input-sm w-full p-2 rounded-md"-->
              <!--                  [class]="{ 'input-error': isInvalid('originallyReleasedAt') }"-->
              <!--                  type="date"-->
              <!--                />-->
              <!--                <div class="label py-0 mb-2">-->
              <!--                  <span class="label-text-alt text-error">{{ getErrorMessage('originallyReleasedAt') }}</span>-->
              <!--                </div>-->
              <!--              </label>-->

              <!--              &lt;!&ndash; Duration Field &ndash;&gt;-->
              <!--              <label for="runtimeMinutes" class="form-control w-full">-->
              <!--                <div class="label py-0">-->
              <!--                  <span class="label-text font-bold">Runtime in minutes</span>-->
              <!--                </div>-->
              <!--                <input-->
              <!--                  formControlName="runtimeMinutes"-->
              <!--                  id="runtimeMinutes"-->
              <!--                  class="input input-bordered input-sm w-full p-2 rounded-md"-->
              <!--                  [class]="{ 'input-error': isInvalid('runtimeMinutes') }"-->
              <!--                  type="text"-->
              <!--                  placeholder="Runtime"-->
              <!--                />-->
              <!--                <div class="label py-0 mb-2">-->
              <!--                  <span class="label-text-alt text-error">{{ getErrorMessage('runtimeMinutes') }}</span>-->
              <!--                </div>-->
              <!--              </label>-->
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between items-center p-0">
        <!-- Left Aligned Error Label -->
        <div class="flex flex-col p-0 m-0 text-error">
          @if (errorMessage !== '') {
            <span class="text-xs">{{ errorMessage }}</span>
          }
        </div>
        <!-- Import -->
        <div class="flex flex-row justify-end">
          <button class="btn btn-square btn-primary btn-outline w-fit px-4" type="submit" [disabled]="!isFormValid()">Import</button>
        </div>
      </div>
    </div>
  </div>
</form>
