<div #fullscreenContainer [style.cursor]="controlsVisible ? 'auto' : 'none'" class="relative w-full h-full bg-white select-none">
  <video
    #videoPlayer
    class="vjs-matrix video-js focus:outline-none border-none"
    playsinline
    preload="auto"
    tabindex="-1"
    (mousedown)="onClick($event)"
    (dblclick)="onDoubleClick($event)"
    (touchend)="onTouch($event)"
  ></video>
  <div [style.visibility]="controlsVisible ? 'visible' : 'hidden'" class="transition-opacity duration-500 ease-linear">
    <!-- Title Overlay -->
    @if (isInFullscreen || isMobile) {
      <div class="absolute top-0 left-0 w-full h-24 p-3 px-5 text-white text-3xl font-bold">
        @if (isMobile) {
          <button class="btn btn-xs w-auto bg-transparent border-none" (click)="goBack()">
            <app-svg-icons name="back" size="20px" color="white"></app-svg-icons>
          </button>
        }
        {{ videoTitle }}
      </div>
    } @else {
      <div class="absolute top-16 left-0 w-full h-24 p-3 px-5 text-white text-3xl font-bold">{{ videoTitle }}</div>
    }
    @if (!isMobile) {
      <!-- Video Controls -->
      <div class="absolute bottom-0 left-0 w-full bg-black-to-transparent px-2 pb-2 z-10">
        <div
          #timeline
          class="timeline-container flex items-center h-[6px] cursor-pointer overflow-visible"
          (mouseenter)="onMouseEnter()"
          (mousedown)="onMouseDown($event)"
          (mouseleave)="onMouseLeave($event)"
        >
          <div
            [style.--preview-position]="previewBufferedProgress()"
            [style.--progress-position]="mediaProgress()"
            class="timeline-b h-[3px] hover:h-full w-full bg-slate-600 rounded-md relative before:rounded-md transition-height hover:duration-100 ease-in-out"
          >
            <div class="thumb-indicator"></div>
          </div>
          <div
            #thumbTooltip
            class="absolute bottom-[5rem] text-center w-auto rounded-md bg-black text-xs p-1"
            [style.visibility]="isInTimeline ? 'visible' : 'hidden'"
            [style.left.px]="tooltipPosition"
          >
            <div class="text-white" [innerText]="currentTooltipTime"></div>
          </div>
        </div>

        <div id="video-controls" class="flex items-center justify-center align-middle">
          <div class="flex-1">
            <div class="flex items-center justify-center text-white">
              <div class="flex-1 text-xs">{{ convertToTime(this.player.currentTime()) }}</div>
            </div>
            <div class="flex items-center justify-start align-middle" (mouseleave)="hideSlider($event)">
              <button class="btn btn-circle btn-xs bg-transparent hover:bg-transparent border-none" (mouseenter)="showSlider()" (click)="toggleMute()">
                @if (this.player.muted() || volume === 0) {
                  <app-svg-icons name="volume0" size="15px" color="white"></app-svg-icons>
                } @else if (volume > 0.7) {
                  <app-svg-icons name="volume1" size="15px" color="white"></app-svg-icons>
                } @else if (volume > 0.4) {
                  <app-svg-icons name="volume05" size="15px" color="white"></app-svg-icons>
                } @else {
                  <app-svg-icons name="volume025" size="15px" color="white"></app-svg-icons>
                }
              </button>
              <input
                type="range"
                min="0"
                max="1"
                step="0.01"
                [(ngModel)]="volume"
                [style.opacity]="sliderVisible ? '1' : '0'"
                [style.visibility]="sliderVisible ? 'visible' : 'hidden'"
                [style.width]="sliderVisible ? '7rem' : '0rem'"
                class="slider w-0 h-[4px] rounded-md opacity-0 ml-3 transition-opacity duration-500 ease-in-out absolute"
                (input)="changeVolume()"
              />
            </div>
          </div>
          <div class="flex items-center justify-center">
            <button class="btn btn-circle btn-xs bg-transparent hover:bg-transparent border-none m-4" (click)="fastBackward()">
              <app-svg-icons name="fastBackward" size="15px" color="white"></app-svg-icons>
            </button>
            <button class="btn btn-circle btn-sm bg-transparent hover:bg-transparent border-none" (click)="togglePlay()">
              @if (isPlaying()) {
                <app-svg-icons name="play" size="25px" color="white"></app-svg-icons>
              } @else {
                <app-svg-icons name="pause" size="25px" color="white"></app-svg-icons>
              }
            </button>
            <button class="btn btn-circle btn-xs bg-transparent hover:bg-transparent border-none m-4" (click)="fastForward()">
              <app-svg-icons name="fastForward" size="15px" color="white"></app-svg-icons>
            </button>
          </div>
          <div class="flex-1 text-right">
            <div class="flex items-center justify-center text-white">
              <div class="flex-1 text-right text-xs">{{ convertToTime(this.player.duration()) }}</div>
            </div>
            <div class="flex items-center justify-end align-middle space-x-3">
              <button class="btn btn-circle btn-xs bg-transparent hover:bg-transparent border-none" (click)="enablePictureInPicture()">
                <app-svg-icons name="pictureInPicture" size="15px" color="white"></app-svg-icons>
              </button>
              <button class="btn btn-circle btn-xs bg-transparent hover:bg-transparent border-none" (click)="toggleFullscreen()">
                @if (isInFullscreen) {
                  <app-svg-icons name="exitFullscreen" size="15px" color="white"></app-svg-icons>
                } @else {
                  <app-svg-icons name="enterFullscreen" size="15px" color="white"></app-svg-icons>
                }
              </button>
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-auto h-auto flex items-center justify-center align-middle">
        <button class="btn btn-circle btn-sm bg-opacity-60 border-none bg-black mx-6" (click)="fastBackward()">
          <app-svg-icons name="fastBackward" size="20px" color="white"></app-svg-icons>
        </button>
        <button class="btn btn-circle btn-md bg-opacity-60 border-none bg-black mx-8" (click)="togglePlay()">
          @if (isPlaying()) {
            <app-svg-icons name="play" size="25px" color="white"></app-svg-icons>
          } @else {
            <app-svg-icons name="pause" size="25px" color="white"></app-svg-icons>
          }
        </button>
        <button class="btn btn-circle btn-sm bg-opacity-60 border-none bg-black mx-6" (click)="fastForward()">
          <app-svg-icons name="fastForward" size="20px" color="white"></app-svg-icons>
        </button>
      </div>
      <div class="absolute bottom-0 left-0 w-full bg-black-to-transparent px-2 pb-2 z-10">
        <div class="flex items-center justify-end align-middle pb-2">
          <button class="btn btn-circle btn-xs bg-transparent hover:bg-transparent border-none" (click)="toggleFullscreen()">
            @if (isInFullscreen) {
              <app-svg-icons name="exitFullscreen" size="15px" color="white"></app-svg-icons>
            } @else {
              <app-svg-icons name="enterFullscreen" size="15px" color="white"></app-svg-icons>
            }
          </button>
        </div>
        <div
          #timeline
          class="timeline-container flex items-center h-[6px] cursor-pointer overflow-visible"
          (touchstart)="onTouchStart($event)"
          (touchmove)="onTouchMove($event)"
          (touchend)="onTouchEnd($event)"
        >
          <div
            [style.--preview-position]="previewPosition"
            [style.--progress-position]="progressPosition"
            [style.height]="isInTimeline ? '100%' : '4px'"
            class="timeline-b w-full bg-slate-600 rounded-md relative before:rounded-md transition-height hover:duration-100 ease-in-out"
          >
            <div class="thumb-indicator"></div>
          </div>
          <div
            #thumbTooltip
            class="absolute bottom-[4rem] text-center w-auto rounded-md bg-black text-xs p-1"
            [style.visibility]="isInTimeline ? 'visible' : 'hidden'"
            [style.left.px]="tooltipPosition"
          >
            <div class="text-white" [innerText]="currentTooltipTime"></div>
          </div>
        </div>

        <div id="video-controls" class="flex items-center justify-center align-middle">
          <div class="flex-1">
            <div class="flex items-center justify-center text-white py-2">
              <div class="flex-1 text-xs">{{ convertToTime(this.player.currentTime()) }}</div>
            </div>
          </div>

          <div class="flex-1 text-right">
            <div class="flex items-center justify-center text-white py-2">
              <div class="flex-1 text-right text-xs">{{ convertToTime(this.player.duration()) }}</div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
