<div class="w-full h-full bg-gray-700 rounded-lg" [class.dragging-over]="isDraggingOver" (dragover)="onDragOver($event)" (drop)="onDrop($event)" (dragleave)="onDragLeave($event)">
  <label
    [for]="props.readonly ? fileUploadId : null"
    class="w-full h-full input input-bordered flex items-center justify-center rounded-md p-2"
    [class.cursor-pointer]="props.readonly"
    [class.cursor-default]="!props.readonly"
    [class.bg-neutral-900]="!props.readonly"
    [class.bg-neutral-400]="isDraggingOver"
  >
    <input #fileInput type="file" [accept]="props.accept" class="hidden" [id]="fileUploadId" [readonly]="props.readonly" (change)="onFileSelected($event)" />
    @if (!file) {
      {{ props.title }}
    } @else {
      <div class="w-full flex items-center">
        <button class="btn-xs btn-circle bg-black flex items-center justify-center p-2 mr-2" (click)="clearFileInput($event)">
          <app-svg-icons name="x" size="20" color="white"></app-svg-icons>
        </button>
        <div class="flex-grow text-center overflow-hidden">
          <div class="block mb-1 text-sm font-medium overflow-hidden text-ellipsis whitespace-nowrap">{{ file!.name }}</div>
        </div>
      </div>
    }
  </label>
</div>
